<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
	<application
		android:allowBackup="true"
		android:name=".core.CoreApplication"
		android:label="Kurt"
		android:theme="@style/AppTheme">
		<meta-data
			android:name="android.webkit.WebView.MetricsOptOut"
			android:value="true" />
		<activity
			android:label="Kurt"
			android:name=".activities.MainActivity"
			android:launchMode="singleTop"
			android:exported="true" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
